.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --main-bg-color: #fdfff7;
  --main-text-color: #464f51;
  --main-accent-color: #FF9F1C;
  --alt-bg-color: #F7EF99;
  --alt-text-color: #fdfff7;
}

body, #root {
  background-color: var(--alt-bg-color);
}

.container {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: var(--main-accent-color);
}